<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didiglobal.logi.auvjob.mapper.AuvWorkerBlacklistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.didiglobal.logi.auvjob.common.bean.AuvWorkerBlacklist">
        <id column="id" property="id" />
        <result column="worker_code" property="workerCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, worker_code
    </sql>

</mapper>
