<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didiglobal.logi.auvjob.mapper.AuvTaskLockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.didiglobal.logi.auvjob.common.bean.AuvTaskLock">
        <id column="task_code" property="taskCode" />
        <result column="woker_code" property="wokerCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_code, woker_code
    </sql>

</mapper>
