<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didiglobal.logi.auvjob.mapper.AuvWorkerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.didiglobal.logi.auvjob.common.bean.AuvWorker">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="cpu" property="cpu" />
        <result column="cpu_used" property="cpuUsed" />
        <result column="memory" property="memory" />
        <result column="memory_used" property="memoryUsed" />
        <result column="jvm_heap" property="jvmHeap" />
        <result column="jvm_heap_used" property="jvmHeapUsed" />
        <result column="job_num" property="jobNum" />
        <result column="heartbeat" property="heartbeat" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, cpu, cpu_used, memory, memory_used, jvm_heap, jvm_heap_used, job_num, heartbeat
    </sql>

</mapper>
