<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didichuxing.datachannel.agentmanager.persistence.mysql.AgentOperationSubTaskMapper" >
  <resultMap id="BaseResultMap" type="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.operationtask.AgentOperationSubTaskPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="agent_operation_task_id" property="agentOperationTaskId" jdbcType="BIGINT" />
    <result column="host_name" property="hostName" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="container" property="container" jdbcType="TINYINT" />
    <result column="source_agent_version_id" property="sourceAgentVersionId" jdbcType="BIGINT" />
    <result column="task_start_time" property="taskStartTime" jdbcType="TIMESTAMP" />
    <result column="task_end_time" property="taskEndTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="execute_status" property="executeStatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, agent_operation_task_id, host_name, ip, container, source_agent_version_id, task_start_time, 
    task_end_time, operator, create_time, modify_time, execute_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_agent_operation_sub_task
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getByAgentOperationTaskId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tb_agent_operation_sub_task
    where agent_operation_task_id = #{agentOperationTaskId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_agent_operation_sub_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.operationtask.AgentOperationSubTaskPO" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_agent_operation_sub_task (id, agent_operation_task_id, host_name, 
      ip, container, source_agent_version_id, 
      task_start_time, task_end_time, operator, 
      execute_status)
    values (#{id,jdbcType=BIGINT}, #{agentOperationTaskId,jdbcType=BIGINT}, #{hostName,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{container,jdbcType=TINYINT}, #{sourceAgentVersionId,jdbcType=BIGINT}, 
      #{taskStartTime,jdbcType=TIMESTAMP}, #{taskEndTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, 
      #{executeStatus,jdbcType=TINYINT})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.operationtask.AgentOperationSubTaskPO" >
    update tb_agent_operation_sub_task
    set agent_operation_task_id = #{agentOperationTaskId,jdbcType=BIGINT},
      host_name = #{hostName,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      container = #{container,jdbcType=TINYINT},
      source_agent_version_id = #{sourceAgentVersionId,jdbcType=BIGINT},
      task_start_time = #{taskStartTime,jdbcType=TIMESTAMP},
      task_end_time = #{taskEndTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      execute_status = #{executeStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByAgentVersionId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tb_agent_operation_sub_task
    where source_agent_version_id = #{agentVersionId,jdbcType=BIGINT}
  </select>

  <select id="getByHostNameAndAgentStartupTime" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from tb_agent_operation_sub_task
    where host_name = #{hostName,jdbcType=VARCHAR} and
    (
      (#{agentStartupTime,jdbcType=TIMESTAMP} >= task_start_time and task_end_time >= #{agentStartupTime,jdbcType=TIMESTAMP}) or
      (#{agentStartupTime,jdbcType=TIMESTAMP} >= task_start_time and task_end_time is null)
    )
  </select>

</mapper>
