<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didichuxing.datachannel.agentmanager.persistence.mysql.ServiceProjectMapper" >
  <resultMap id="BaseResultMap" type="com.didichuxing.datachannel.agentmanager.common.bean.po.service.ServiceProjectPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="service_id" property="serviceId" jdbcType="BIGINT" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, service_id, project_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_service_project
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_service_project
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_service_project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByProjectId" parameterType="java.lang.Long" >
    delete from tb_service_project
    where project_id = #{projectId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByServiceId" parameterType="java.lang.Long" >
    delete from tb_service_project
    where service_id = #{serviceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.service.ServiceProjectPO" >
    insert into tb_service_project (id, service_id, project_id
      )
    values (#{id,jdbcType=BIGINT}, #{serviceId,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.service.ServiceProjectPO" >
    update tb_service_project
    set service_id = #{serviceId,jdbcType=BIGINT},
      project_id = #{projectId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>