<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didichuxing.datachannel.agentmanager.persistence.mysql.AgentMetricMapper" >
  <resultMap id="BaseResultMap" type="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.AgentMetricPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cpu_usage" property="cpuUsage" jdbcType="DOUBLE" />
    <result column="heartbeat_time" property="heartbeatTime" jdbcType="BIGINT" />
    <result column="host_ip" property="hostIp" jdbcType="VARCHAR" />
    <result column="cpu_limit" property="cpuLimit" jdbcType="DOUBLE" />
    <result column="gc_count" property="gcCount" jdbcType="INTEGER" />
    <result column="path_id" property="pathId" jdbcType="INTEGER" />
    <result column="log_mode_id" property="logModeId" jdbcType="INTEGER" />
    <result column="hostname" property="hostname" jdbcType="VARCHAR" />
    <result column="fd_count" property="fdCount" jdbcType="INTEGER" />
    <result column="limit_tps" property="limitTps" jdbcType="BIGINT" />
    <result column="memory_usage" property="memoryUsage" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="BIGINT" />
    <result column="log_path_key" property="logPathKey" jdbcType="INTEGER" />
    <result column="message_version" property="messageVersion" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cpu_usage, heartbeat_time, host_ip, cpu_limit, gc_count, path_id, log_mode_id, 
    hostname, fd_count, limit_tps, memory_usage, start_time, log_path_key, message_version, operator, create_time,
    modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from agent_metric
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from agent_metric
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.AgentMetricPO" >
    insert into agent_metric (id, cpu_usage, heartbeat_time, 
      host_ip, cpu_limit, gc_count, 
      path_id, log_mode_id, hostname, 
      fd_count, limit_tps, memory_usage, start_time,
      log_path_key, message_version, operator, create_time,
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{cpuUsage,jdbcType=DOUBLE}, #{heartbeatTime,jdbcType=TIMESTAMP}, 
      #{hostIp,jdbcType=VARCHAR}, #{cpuLimit,jdbcType=DOUBLE}, #{gcCount,jdbcType=INTEGER}, 
      #{pathId,jdbcType=INTEGER}, #{logModeId,jdbcType=INTEGER}, #{hostname,jdbcType=VARCHAR}, 
      #{fdCount,jdbcType=INTEGER}, #{limitTps,jdbcType=BIGINT}, #{memoryUsage,jdbcType=BIGINT}, #{startTime,jdbcType=BIGINT},
      #{logPathKey,jdbcType=INTEGER}, #{messageVersion,jdbcType=VARCHAR}, #{operator, jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.AgentMetricPO" >
    insert into agent_metric
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cpuUsage != null" >
        cpu_usage,
      </if>
      <if test="heartbeatTime != null" >
        heartbeat_time,
      </if>
      <if test="hostIp != null" >
        host_ip,
      </if>
      <if test="cpuLimit != null" >
        cpu_limit,
      </if>
      <if test="gcCount != null" >
        gc_count,
      </if>
      <if test="pathId != null" >
        path_id,
      </if>
      <if test="logModeId != null" >
        log_mode_id,
      </if>
      <if test="hostname != null" >
        hostname,
      </if>
      <if test="fdCount != null" >
        fd_count,
      </if>
      <if test="limitTps != null" >
        limit_tps,
      </if>
      <if test="memoryUsage != null" >
        memory_usage,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="logPathKey != null" >
        log_path_key,
      </if>
      <if test="messageVersion != null" >
        message_version,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cpuUsage != null" >
        #{cpuUsage,jdbcType=DOUBLE},
      </if>
      <if test="heartbeatTime != null" >
        #{heartbeatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hostIp != null" >
        #{hostIp,jdbcType=VARCHAR},
      </if>
      <if test="cpuLimit != null" >
        #{cpuLimit,jdbcType=DOUBLE},
      </if>
      <if test="gcCount != null" >
        #{gcCount,jdbcType=INTEGER},
      </if>
      <if test="pathId != null" >
        #{pathId,jdbcType=INTEGER},
      </if>
      <if test="logModeId != null" >
        #{logModeId,jdbcType=INTEGER},
      </if>
      <if test="hostname != null" >
        #{hostname,jdbcType=VARCHAR},
      </if>
      <if test="fdCount != null" >
        #{fdCount,jdbcType=INTEGER},
      </if>
      <if test="limitTps != null" >
        #{limitTps,jdbcType=BIGINT},
      </if>
      <if test="memoryUsage != null" >
        #{memoryUsage,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=BIGINT},
      </if>
      <if test="logPathKey != null" >
        #{logPathKey,jdbcType=INTEGER},
      </if>
      <if test="messageVersion != null" >
        #{messageVersion,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.AgentMetricPO" >
    update agent_metric
    <set >
      <if test="cpuUsage != null" >
        cpu_usage = #{cpuUsage,jdbcType=DOUBLE},
      </if>
      <if test="heartbeatTime != null" >
        heartbeat_time = #{heartbeatTime,jdbcType=BIGINT},
      </if>
      <if test="hostIp != null" >
        host_ip = #{hostIp,jdbcType=VARCHAR},
      </if>
      <if test="cpuLimit != null" >
        cpu_limit = #{cpuLimit,jdbcType=DOUBLE},
      </if>
      <if test="gcCount != null" >
        gc_count = #{gcCount,jdbcType=INTEGER},
      </if>
      <if test="pathId != null" >
        path_id = #{pathId,jdbcType=INTEGER},
      </if>
      <if test="logModeId != null" >
        log_mode_id = #{logModeId,jdbcType=INTEGER},
      </if>
      <if test="hostname != null" >
        hostname = #{hostname,jdbcType=VARCHAR},
      </if>
      <if test="fdCount != null" >
        fd_count = #{fdCount,jdbcType=INTEGER},
      </if>
      <if test="limitTps != null" >
        limit_tps = #{limitTps,jdbcType=BIGINT},
      </if>
      <if test="memoryUsage != null" >
        memory_usage = #{memoryUsage,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=BIGINT},
      </if>
      <if test="logPathKey != null" >
        log_path_key = #{logPathKey,jdbcType=INTEGER},
      </if>
      <if test="messageVersion != null" >
        message_version = #{messageVersion,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.AgentMetricPO" >
    update agent_metric
    set cpu_usage = #{cpuUsage,jdbcType=DOUBLE},
      heartbeat_time = #{heartbeatTime,jdbcType=BIGINT},
      host_ip = #{hostIp,jdbcType=VARCHAR},
      cpu_limit = #{cpuLimit,jdbcType=DOUBLE},
      gc_count = #{gcCount,jdbcType=INTEGER},
      path_id = #{pathId,jdbcType=INTEGER},
      log_mode_id = #{logModeId,jdbcType=INTEGER},
      hostname = #{hostname,jdbcType=VARCHAR},
      fd_count = #{fdCount,jdbcType=INTEGER},
      limit_tps = #{limitTps,jdbcType=BIGINT},
      memory_usage = #{memoryUsage,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=BIGINT},
      log_path_key = #{logPathKey,jdbcType=INTEGER},
      message_version = #{messageVersion,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="MetricPointMap" type="com.didichuxing.datachannel.agentmanager.common.bean.vo.metrics.MetricPoint">
    <result column="cpu_usage" property="value" jdbcType="DOUBLE" />
    <result column="heartbeat_time" property="timestamp" jdbcType="BIGINT" />
    <result column="host_ip" property="value" jdbcType="VARCHAR" />
    <result column="cpu_limit" property="value" jdbcType="DOUBLE" />
    <result column="gc_count" property="value" jdbcType="INTEGER" />
    <result column="path_id" property="value" jdbcType="INTEGER" />
    <result column="log_mode_id" property="value" jdbcType="INTEGER" />
    <result column="hostname" property="value" jdbcType="VARCHAR" />
    <result column="fd_count" property="value" jdbcType="INTEGER" />
    <result column="limit_tps" property="value" jdbcType="BIGINT" />
    <result column="memory_usage" property="value" jdbcType="BIGINT" />
    <result column="start_time" property="value" jdbcType="BIGINT" />
    <result column="log_path_key" property="value" jdbcType="INTEGER" />
    <result column="message_version" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectSinglePerMin" resultMap="MetricPointMap">
    select ${column}, heartbeat_time from agent_metric
    where
    heartbeat_time &gt; #{startTime} and heartbeat_time &lt;= #{endTime}
    and hostname = #{hostName}
  </select>
  <select id="selectLatestByHostname" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from agent_metric where hostname = #{hostname}
    order by heartbeat_time limit 1
  </select>
  <select id="selectSum" resultType="java.lang.Long">
    select sum(${column})
    from agent_metric
    where heartbeat_time &gt; #{startTime} and heartbeat_time &lt;= #{endTime}
    and hostname = #{hostName}
  </select>
  <delete id="deleteBeforeTime" parameterType="java.lang.Long">
    delete from agent_metric
    where heartbeat_time &lt;= #{time}
  </delete>
  <select id="selectMaxByHostname" resultType="java.lang.Long">
    select max(${column}) from agent_metric
    where hostname = #{hostname}
  </select>
</mapper>