<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didichuxing.datachannel.agentmanager.persistence.mysql.AgentOperationTaskMapper" >
    <resultMap id="BaseResultMap" type="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.operationtask.AgentOperationTaskPO" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="task_name" property="taskName" jdbcType="VARCHAR" />
        <result column="task_status" property="taskStatus" jdbcType="TINYINT" />
        <result column="task_type" property="taskType" jdbcType="TINYINT" />
        <result column="hosts_number" property="hostsNumber" jdbcType="INTEGER" />
        <result column="source_agent_version_id" property="sourceAgentVersionId" jdbcType="BIGINT" />
        <result column="target_agent_version_id" property="targetAgentVersionId" jdbcType="BIGINT" />
        <result column="external_agent_task_id" property="externalAgentTaskId" jdbcType="BIGINT" />
        <result column="operator" property="operator" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="task_start_time" property="taskStartTime" jdbcType="TIMESTAMP" />
        <result column="task_end_time" property="taskEndTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, task_name, task_status, task_type, hosts_number, source_agent_version_id, target_agent_version_id, external_agent_task_id,
    operator, create_time, modify_time, task_start_time, task_end_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from tb_agent_operation_task
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_agent_operation_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.operationtask.AgentOperationTaskPO" useGeneratedKeys="true" keyProperty="id">
    insert into tb_agent_operation_task (id, task_name, task_status,
      task_type, hosts_number, source_agent_version_id, target_agent_version_id, external_agent_task_id, operator, create_time, modify_time, task_start_time, task_end_time)
    values (#{id,jdbcType=BIGINT}, #{taskName,jdbcType=VARCHAR}, #{taskStatus,jdbcType=TINYINT},
      #{taskType,jdbcType=TINYINT}, #{hostsNumber,jdbcType=INTEGER}, #{sourceAgentVersionId,jdbcType=BIGINT},
      #{targetAgentVersionId,jdbcType=BIGINT}, #{externalAgentTaskId,jdbcType=BIGINT},
      #{operator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP},
      #{taskStartTime,jdbcType=TIMESTAMP}, #{taskEndTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.operationtask.AgentOperationTaskPO" >
        insert into tb_agent_operation_task
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="taskName != null" >
                task_name,
            </if>
            <if test="taskStatus != null" >
                task_status,
            </if>
            <if test="taskType != null" >
                task_type,
            </if>
            <if test="hostsNumber != null" >
                hosts_number,
            </if>
            <if test="sourceAgentVersionId != null" >
                source_agent_version_id,
            </if>
            <if test="targetAgentVersionId != null" >
                target_agent_version_id,
            </if>
            <if test="externalAgentTaskId != null" >
                external_agent_task_id,
            </if>
            <if test="operator != null" >
                operator,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
            <if test="taskStartTime != null" >
                task_start_time,
            </if>
            <if test="taskEndTime != null" >
                task_end_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="taskName != null" >
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskStatus != null" >
                #{taskStatus,jdbcType=TINYINT},
            </if>
            <if test="taskType != null" >
                #{taskType,jdbcType=TINYINT},
            </if>
            <if test="hostsNumber != null" >
                #{hostsNumber,jdbcType=INTEGER},
            </if>
            <if test="sourceAgentVersionId != null" >
                #{sourceAgentVersionId,jdbcType=BIGINT},
            </if>
            <if test="targetAgentVersionId != null" >
                #{targetAgentVersionId,jdbcType=BIGINT},
            </if>
            <if test="externalAgentTaskId != null" >
                #{externalAgentTaskId,jdbcType=BIGINT},
            </if>
            <if test="operator != null" >
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskStartTime != null" >
                #{taskStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskEndTime != null" >
                #{taskEndTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.operationtask.AgentOperationTaskPO" >
        update tb_agent_operation_task
        <set >
            <if test="taskName != null" >
                task_name = #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskStatus != null" >
                task_status = #{taskStatus,jdbcType=TINYINT},
            </if>
            <if test="taskType != null" >
                task_type = #{taskType,jdbcType=TINYINT},
            </if>
            <if test="hostsNumber != null" >
                hosts_number = #{hostsNumber,jdbcType=INTEGER},
            </if>
            <if test="sourceAgentVersionId != null" >
                source_agent_version_id = #{sourceAgentVersionId,jdbcType=BIGINT},
            </if>
            <if test="targetAgentVersionId != null" >
                target_agent_version_id = #{targetAgentVersionId,jdbcType=BIGINT},
            </if>
            <if test="externalAgentTaskId != null" >
                external_agent_task_id = #{externalAgentTaskId,jdbcType=BIGINT},
            </if>
            <if test="operator != null" >
                operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskStartTime != null" >
                task_start_time = #{taskStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskEndTime != null" >
                task_end_time = #{taskEndTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.operationtask.AgentOperationTaskPO" >
    update tb_agent_operation_task
    set task_name = #{taskName,jdbcType=VARCHAR},
      task_status = #{taskStatus,jdbcType=TINYINT},
      task_type = #{taskType,jdbcType=TINYINT},
      hosts_number = #{hostsNumber,jdbcType=INTEGER},
      source_agent_version_id = #{sourceAgentVersionId,jdbcType=BIGINT},
      target_agent_version_id = #{targetAgentVersionId,jdbcType=BIGINT},
      external_agent_task_id = #{externalAgentTaskId,jdbcType=BIGINT},
      operator = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      task_start_time = #{taskStartTime,jdbcType=TIMESTAMP},
      task_end_time = #{taskEndTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="paginationQueryByConditon" resultMap="BaseResultMap" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.domain.agent.operationtask.AgentOperationTaskPaginationQueryConditionDO" >
        select
        <include refid="Base_Column_List" />
        from tb_agent_operation_task
        <where>
            1 = 1
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="taskName != null">
                and task_name like concat('%',#{taskName},'%')
            </if>
            <if test="taskTypeList != null">
                and task_type in
                <foreach collection="taskTypeList" item="taskType" index="index" open="(" close=")" separator=",">
                    #{taskType}
                </foreach>
            </if>
            <if test="taskStatusList != null">
                and task_status in
                <foreach collection="taskStatusList" item="taskStatus" index="index" open="(" close=")" separator=",">
                    #{taskStatus}
                </foreach>
            </if>
            <if test="taskStartTimeStart != null">
                and task_start_time >= #{taskStartTimeStart}
            </if>
            <if test="taskStartTimeEnd != null">
                and #{taskStartTimeEnd} >= task_start_time
            </if>
        </where>
        order by
        <choose>
            <when test="sortColumn != null">
                ${sortColumn}
                <choose>
                    <when test="asc == true">
                        asc
                    </when>
                    <otherwise>
                        desc
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                task_start_time desc
            </otherwise>
        </choose>
        limit #{limitFrom}, #{limitSize}
    </select>

    <select id="queryCountByConditon" resultType="java.lang.Integer" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.domain.agent.operationtask.AgentOperationTaskPaginationQueryConditionDO" >
        select
        count(*)
        from tb_agent_operation_task
        <where>
            1 = 1
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="taskName != null">
                and task_name like concat('%',#{taskName},'%')
            </if>
            <if test="taskTypeList != null">
                and task_type in
                <foreach collection="taskTypeList" item="taskType" index="index" open="(" close=")" separator=",">
                    #{taskType}
                </foreach>
            </if>
            <if test="taskStatusList != null">
                and task_status in
                <foreach collection="taskStatusList" item="taskStatus" index="index" open="(" close=")" separator=",">
                    #{taskStatus}
                </foreach>
            </if>
            <if test="taskStartTimeStart != null">
                and task_start_time >= #{taskStartTimeStart}
            </if>
            <if test="taskStartTimeEnd != null">
                and #{taskStartTimeEnd} >= task_start_time
            </if>
        </where>
    </select>

    <select id="selectByAgentVersionId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from tb_agent_operation_task
        where target_agent_version_id = #{agentVersionId}
    </select>

    <update id="updateTaskNameByPrimaryKey" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.operationtask.AgentOperationTaskPO" >
    update tb_agent_operation_task
    set task_name = #{taskName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectByTaskStatus" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from tb_agent_operation_task
        where task_status = #{status,jdbcType=TINYINT}
    </select>

</mapper>
