<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didichuxing.datachannel.agentmanager.persistence.mysql.K8sPodMapper">
  <resultMap id="BaseResultMap" type="com.didichuxing.datachannel.agentmanager.common.bean.po.k8s.K8sPodPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="pod_ip" jdbcType="VARCHAR" property="podIp" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="log_mount_path" jdbcType="VARCHAR" property="logMountPath" />
    <result column="log_host_path" jdbcType="VARCHAR" property="logHostPath" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="node_ip" jdbcType="VARCHAR" property="nodeIp" />
    <result column="container_names" jdbcType="VARCHAR" property="containerNames" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid, pod_ip, service_name, log_mount_path, log_host_path, node_name, node_ip,
    container_names, operator, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_k8s_pod
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_k8s_pod
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.k8s.K8sPodPO">
    insert into tb_k8s_pod (id, uuid, pod_ip,
      service_name, log_mount_path, log_host_path,
      node_name, node_ip, container_names,
      operator, create_time, modify_time
      )
    values (#{id,jdbcType=BIGINT}, #{uuid,jdbcType=VARCHAR}, #{podIp,jdbcType=VARCHAR},
      #{serviceName,jdbcType=VARCHAR}, #{logMountPath,jdbcType=VARCHAR}, #{logHostPath,jdbcType=VARCHAR},
      #{nodeName,jdbcType=VARCHAR}, #{nodeIp,jdbcType=VARCHAR}, #{containerNames,jdbcType=VARCHAR},
      #{operator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.k8s.K8sPodPO">
    insert into tb_k8s_pod
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="podIp != null">
        pod_ip,
      </if>
      <if test="serviceName != null">
        service_name,
      </if>
      <if test="logMountPath != null">
        log_mount_path,
      </if>
      <if test="logHostPath != null">
        log_host_path,
      </if>
      <if test="nodeName != null">
        node_name,
      </if>
      <if test="nodeIp != null">
        node_ip,
      </if>
      <if test="containerNames != null">
        container_names,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="podIp != null">
        #{podIp,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null">
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="logMountPath != null">
        #{logMountPath,jdbcType=VARCHAR},
      </if>
      <if test="logHostPath != null">
        #{logHostPath,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeIp != null">
        #{nodeIp,jdbcType=VARCHAR},
      </if>
      <if test="containerNames != null">
        #{containerNames,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.k8s.K8sPodPO">
    update tb_k8s_pod
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="podIp != null">
        pod_ip = #{podIp,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null">
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="logMountPath != null">
        log_mount_path = #{logMountPath,jdbcType=VARCHAR},
      </if>
      <if test="logHostPath != null">
        log_host_path = #{logHostPath,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeIp != null">
        node_ip = #{nodeIp,jdbcType=VARCHAR},
      </if>
      <if test="containerNames != null">
        container_names = #{containerNames,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.k8s.K8sPodPO">
    update tb_k8s_pod
    set uuid = #{uuid,jdbcType=VARCHAR},
      pod_ip = #{podIp,jdbcType=VARCHAR},
      service_name = #{serviceName,jdbcType=VARCHAR},
      log_mount_path = #{logMountPath,jdbcType=VARCHAR},
      log_host_path = #{logHostPath,jdbcType=VARCHAR},
      node_name = #{nodeName,jdbcType=VARCHAR},
      node_ip = #{nodeIp,jdbcType=VARCHAR},
      container_names = #{containerNames,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_k8s_pod;
  </select>
  <sql id="join_column">
    t1.id, t1.uuid, t1.pod_ip, t1.service_name, t1.log_mount_path, t1.log_host_path, t1.node_name, t1.node_ip,
    t1.container_names, t1.operator, t1.create_time, t1.modify_time
  </sql>
  <select id="selectByContainerId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="join_column"/>
    from tb_k8s_pod t1 inner join tb_k8s_pod_host
    on tb_k8s_pod_host.k8s_pod_id = t1.id
    where tb_k8s_pod_host.host_id = #{hostId, jdbcType=BIGINT};
  </select>
</mapper>