<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="log-agent-integration-test" class="org.apache.log4j.RollingFileAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="File" value="${baselog}/log-agent-integration-test/logs/test.log" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="10" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,sss}  |%p | %t | %m | %l%n" />
		</layout>
	</appender>

	<appender name="sysLogger" class="org.apache.log4j.RollingFileAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="File" value="${baselog}/log-agent-integration-test/logs/test.log" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="10" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}-%p %t %c - %m%n" />
		</layout>
	</appender>

	<appender name="zookeeperAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Encoding" value="UTF-8"/>
		<param name="File" value="${baselog}/log-agent-integration-test/logs/zookeeper.log"/>
		<param name="maxFileSize" value="100MB"/>
		<param name="maxBackupIndex" value="9"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss,sss}, %p, %t, %m%n"/>
		</layout>
	</appender>

	<logger name="testLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="log-agent-integration-test" />
	</logger>

	<logger name="org.I0Itec.zkclient" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="zookeeperAppender"/>
	</logger>

	<logger name="org.apache.zookeeper" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="zookeeperAppender"/>
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="sysLogger" />
	</root>
</log4j:configuration> 
