<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didichuxing.datachannel.agentmanager.persistence.mysql.AgentVersionMapper" >
  <resultMap id="BaseResultMap" type="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.version.AgentVersionPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_md5" property="fileMd5" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="TINYINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, file_name, file_md5, file_type, description, operator, create_time, modify_time, 
    version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_agent_version
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_agent_version
  </select>

  <select id="selectByVersion" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_agent_version
    where version = #{version,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_agent_version
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.version.AgentVersionPO" useGeneratedKeys="true" keyProperty="id">
    insert into tb_agent_version (id, file_name, file_md5, 
      file_type, description, operator, 
      version
      )
    values (#{id,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, #{fileMd5,jdbcType=VARCHAR}, 
      #{fileType,jdbcType=TINYINT}, #{description,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.version.AgentVersionPO" >
    insert into tb_agent_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileMd5 != null" >
        file_md5,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileMd5 != null" >
        #{fileMd5,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.version.AgentVersionPO" >
    update tb_agent_version
    <set >
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileMd5 != null" >
        file_md5 = #{fileMd5,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.version.AgentVersionPO" >
    update tb_agent_version
    set file_name = #{fileName,jdbcType=VARCHAR},
      file_md5 = #{fileMd5,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="paginationQueryByConditon" resultMap="BaseResultMap" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.domain.agent.version.AgentVersionPaginationQueryConditionDO" >
    select
    <include refid="Base_Column_List" />
    from tb_agent_version
    <where>
      1 = 1
      <if test="agentPackageName != null">
        and file_name like concat('%',#{agentPackageName},'%')
      </if>
      <if test="agentVersionDescription != null">
        and description like concat('%',#{agentVersionDescription},'%')
      </if>
      <if test="agentVersionList != null">
        and version in
        <foreach collection="agentVersionList" item="agentVersion" index="index" open="(" close=")" separator=",">
          #{agentVersion}
        </foreach>
      </if>
      <if test="agentVersionCreateTimeStart != null">
        and create_time >= #{agentVersionCreateTimeStart}
      </if>
      <if test="agentVersionCreateTimeEnd != null">
        and #{agentVersionCreateTimeEnd} >= create_time
      </if>
    </where>
    order by
    <choose>
      <when test="sortColumn != null">
        ${sortColumn}
        <choose>
          <when test="asc == true">
            asc
          </when>
          <otherwise>
            desc
          </otherwise>
        </choose>
      </when>
      <otherwise>
        modify_time desc
      </otherwise>
    </choose>
    limit #{limitFrom}, #{limitSize}
  </select>

  <select id="queryCountByConditon" resultType="java.lang.Integer" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.domain.agent.version.AgentVersionPaginationQueryConditionDO" >
    select
    count(*)
    from tb_agent_version
    <where>
      1 = 1
      <if test="agentPackageName != null">
        and file_name like concat('%',#{agentPackageName},'%')
      </if>
      <if test="agentVersionDescription != null">
        and description like concat('%',#{agentVersionDescription},'%')
      </if>
      <if test="agentVersionList != null">
        and version in
        <foreach collection="agentVersionList" item="agentVersion" index="index" open="(" close=")" separator=",">
          #{agentVersion}
        </foreach>
      </if>
      <if test="agentVersionCreateTimeStart != null">
        and create_time >= #{agentVersionCreateTimeStart}
      </if>
      <if test="agentVersionCreateTimeEnd != null">
        and #{agentVersionCreateTimeEnd} >= create_time
      </if>
    </where>
  </select>

  <select id="selectByfileMd5" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_agent_version
    where file_md5 = #{fileMd5,jdbcType=VARCHAR}
  </select>

</mapper>
