<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didichuxing.datachannel.agentmanager.persistence.mysql.ErrorLogMapper" >
  <resultMap id="BaseResultMap" type="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.ErrorLogPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="heartbeat_time" property="heartbeatTime" jdbcType="BIGINT" />
    <result column="hostname" property="hostname" jdbcType="VARCHAR" />
    <result column="host_ip" property="hostIp" jdbcType="CHAR" />
    <result column="log_code" property="logCode" jdbcType="VARCHAR" />
    <result column="throwable" property="throwable" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="log_msg" property="logMsg" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, heartbeat_time, hostname, host_ip, log_code, throwable, count, log_msg, operator, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from error_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from error_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.ErrorLogPO" >
    insert into error_log (id, heartbeat_time, hostname,
      host_ip, log_code, throwable,
      count, log_msg, operator, create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{heartbeatTime,jdbcType=BIGINT}, #{hostname,jdbcType=VARCHAR},
      #{hostIp,jdbcType=CHAR}, #{logCode,jdbcType=VARCHAR}, #{throwable,jdbcType=VARCHAR},
      #{count,jdbcType=INTEGER}, #{logMsg,jdbcType=VARCHAR}, #{operator, jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
            #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.ErrorLogPO" >
    insert into error_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="heartbeatTime != null" >
        heartbeat_time,
      </if>
      <if test="hostname != null" >
        hostname,
      </if>
      <if test="hostIp != null" >
        host_ip,
      </if>
      <if test="logCode != null" >
        log_code,
      </if>
      <if test="throwable != null" >
        throwable,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="logMsg != null" >
        log_msg,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="heartbeatTime != null" >
        #{heartbeatTime,jdbcType=BIGINT},
      </if>
      <if test="hostname != null" >
        #{hostname,jdbcType=VARCHAR},
      </if>
      <if test="hostIp != null" >
        #{hostIp,jdbcType=CHAR},
      </if>
      <if test="logCode != null" >
        #{logCode,jdbcType=VARCHAR},
      </if>
      <if test="throwable != null" >
        #{throwable,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="logMsg != null" >
        #{logMsg,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.ErrorLogPO" >
    update error_log
    <set >
      <if test="heartbeatTime != null" >
        heartbeat_time = #{heartbeatTime,jdbcType=BIGINT},
      </if>
      <if test="hostname != null" >
        hostname = #{hostname,jdbcType=VARCHAR},
      </if>
      <if test="hostIp != null" >
        host_ip = #{hostIp,jdbcType=CHAR},
      </if>
      <if test="logCode != null" >
        log_code = #{logCode,jdbcType=VARCHAR},
      </if>
      <if test="throwable != null" >
        throwable = #{throwable,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="logMsg != null" >
        log_msg = #{logMsg,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.agent.ErrorLogPO" >
    update error_log
    set heartbeat_time = #{heartbeatTime,jdbcType=BIGINT},
      hostname = #{hostname,jdbcType=VARCHAR},
      host_ip = #{hostIp,jdbcType=CHAR},
      log_code = #{logCode,jdbcType=VARCHAR},
      throwable = #{throwable,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      log_msg = #{logMsg,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCount" resultType="java.lang.Long">
    select count(heartbeat_time) from error_log
    where hostname = #{hostName}
    and heartbeat_time &gt; #{startTime} and heartbeat_time &lt;= #{endTime}
  </select>
  <delete id="deleteBeforeTime" parameterType="java.lang.Long">
    delete from error_log
    where heartbeat_time &lt; #{time}
  </delete>

  <select id="getErrorLogs" resultType="java.lang.String" >
    select
      log_msg
    from error_log
    where
          hostname = #{hostName} and
          heartbeat_time &gt;= #{startTime} and heartbeat_time &lt;= #{endTime}
  </select>

</mapper>