<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didichuxing.datachannel.agentmanager.persistence.mysql.FileLogCollectPathMapper" >
  <resultMap id="BaseResultMap" type="com.didichuxing.datachannel.agentmanager.common.bean.po.logcollecttask.FileLogCollectPathPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="log_collect_task_id" property="logCollectTaskId" jdbcType="BIGINT" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, log_collect_task_id, path, operator, create_time, modify_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_file_log_collect_path
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByLogCollectTaskId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tb_file_log_collect_path
    where log_collect_task_id = #{logCollectTaskId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_file_log_collect_path
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByLogCollectTaskId" parameterType="java.lang.Long" >
    delete from tb_file_log_collect_path
    where log_collect_task_id = #{logCollectTaskId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.logcollecttask.FileLogCollectPathPO" useGeneratedKeys="true" keyProperty="id">
    insert into tb_file_log_collect_path (
      log_collect_task_id,
      path,
      operator
    )
    values (
      #{logCollectTaskId,jdbcType=BIGINT},
      #{path,jdbcType=VARCHAR},
      #{operator,jdbcType=VARCHAR}
    )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.logcollecttask.FileLogCollectPathPO" >
    update tb_file_log_collect_path
    set
      log_collect_task_id = #{logCollectTaskId,jdbcType=BIGINT},
      path = #{path,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="countAll" resultType="java.lang.Long" >
    select
      count(*)
    from tb_file_log_collect_path
  </select>

</mapper>