<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didichuxing.datachannel.agentmanager.persistence.mysql.K8sPodHostMapper" >
  <resultMap id="BaseResultMap" type="com.didichuxing.datachannel.agentmanager.common.bean.po.k8s.K8sPodHostPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="k8s_pod_id" property="k8sPodId" jdbcType="BIGINT" />
    <result column="host_id" property="hostId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, k8s_pod_id, host_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tb_k8s_pod_host
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_k8s_pod_host
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.k8s.K8sPodHostPO" >
    insert into tb_k8s_pod_host (id, k8s_pod_id, host_id
      )
    values (#{id,jdbcType=BIGINT}, #{k8sPodId,jdbcType=BIGINT}, #{hostId,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.k8s.K8sPodHostPO" >
    update tb_k8s_pod_host
    <set >
      <if test="k8sPodId != null" >
        k8s_pod_id = #{k8sPodId,jdbcType=BIGINT},
      </if>
      <if test="hostId != null" >
        host_id = #{hostId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.k8s.K8sPodHostPO" >
    update tb_k8s_pod_host
    set k8s_pod_id = #{k8sPodId,jdbcType=BIGINT},
      host_id = #{hostId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsertHost" parameterType="java.util.List">
    insert into tb_k8s_pod_host (k8s_pod_id, host_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.k8sPodId, jdbcType=BIGINT}, #{item.hostId, jdbcType=BIGINT})
    </foreach>
  </insert>
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_k8s_pod_host
  </select>
  <select id="selectByPodId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_k8s_pod_host
    where k8s_pod_id = #{podId}
  </select>
  <delete id="deleteByPodId" parameterType="java.lang.Long">
    delete from tb_k8s_pod_host where k8s_pod_id = #{podId}
  </delete>
</mapper>