<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didichuxing.datachannel.agentmanager.persistence.mysql.LogCollectTaskServiceMapper" >
  <resultMap id="BaseResultMap" type="com.didichuxing.datachannel.agentmanager.common.bean.po.logcollecttask.LogCollectTaskServicePO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="log_collector_task_id" property="logCollectorTaskId" jdbcType="BIGINT" />
    <result column="service_id" property="serviceId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, log_collector_task_id, service_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_log_collect_task_service
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_log_collect_task_service
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByLogCollectTaskId" parameterType="java.lang.Long" >
    delete from tb_log_collect_task_service
    where log_collector_task_id = #{logCollectorTaskId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByServiceId" parameterType="java.lang.Long" >
    delete from tb_log_collect_task_service
    where service_id = #{serviceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.logcollecttask.LogCollectTaskServicePO" >
    insert into tb_log_collect_task_service (log_collector_task_id, service_id
      )
    values (#{logCollectorTaskId,jdbcType=BIGINT}, #{serviceId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.logcollecttask.LogCollectTaskServicePO" >
    insert into tb_log_collect_task_service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="logCollectorTaskId != null" >
        log_collector_task_id,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="logCollectorTaskId != null" >
        #{logCollectorTaskId,jdbcType=BIGINT},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.logcollecttask.LogCollectTaskServicePO" >
    update tb_log_collect_task_service
    <set >
      <if test="logCollectorTaskId != null" >
        log_collector_task_id = #{logCollectorTaskId,jdbcType=BIGINT},
      </if>
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.didichuxing.datachannel.agentmanager.common.bean.po.logcollecttask.LogCollectTaskServicePO" >
    update tb_log_collect_task_service
    set log_collector_task_id = #{logCollectorTaskId,jdbcType=BIGINT},
      service_id = #{serviceId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>