server:
  port: 9010
logging:
  pattern:
    file: "[%level][%d{yyyy-MM-dd'T'HH:mm:ss.SSS}][%t] %msg%xEx%n"
  config: classpath:log4j2.xml
  path: .
  file:
    max-history: 7

mybatis:
  configuration:
    mapUnderscoreToCamelCase: true
  mapper-locations: classpath:mybatis/*.xml

spring:
  datasource:
    name: data
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      stat-view-servlet:
        enabled: false
      driver-class-name: org.mariadb.jdbc.Driver
      url: jdbc:mysql://116.85.36.196:3306/agent_manager?useUnicode=true&characterEncoding=utf8&jdbcCompliantTruncation=true&allowMultiQueries=true&useSSL=false
      username: root
      password: Didiyun@888
      initialSize: 10
      validationQueryTimeout: 5000
      transactionQueryTimeout: 60000
      minIdle: 10
      maxActive: 30
      max-wait: 60000
      keepAlive: true
      time-between-eviction-runs-millis: 1000
      min-evictable-idle-time-millis: 300000
      defaultAutoCommit: true
      validationQuery: select 'x'
      testWhileIdle: true
      testOnReturn: false
      testOnBorrow: true
      logAbandoned: true
      pool-prepared-statements: true
      max-open-prepared-statements: 50
      filters: stat,wall
  auv-job:
    jdbc-url: jdbc:mysql://116.85.36.196:3306/agent_manager?useUnicode=true&characterEncoding=utf8&jdbcCompliantTruncation=true&allowMultiQueries=true&useSSL=false
    username: root
    password: Didiyun@888
    driver-class-name: org.mariadb.jdbc.Driver
    max-lifetime: 60000
    init-sql: true
    init-thread-num: 10
    max-thread-num: 20
  http:
    encoding:
      force: true
      charset: UTF-8
      enabled: true
  messages:
    encoding: UTF-8
  servlet:
    multipart:
      enabled: true
      max-file-size: 600MB
      max-request-size: 600MB
  transaction:
    default-timeout: 300
  main:
    allow-circular-references: true

agent:
  http:
    request:
      port: 20230

metrics:
  expire:
    days: 7

system:
  config:
    datetime:
      formats: yyyy-MM-dd HH:mm:ss.SSS;yyyy/MM/dd HH:mm:ss Z;yyyy-MM-dd HH:mm:ss,SSS

file:
  upload:
    dir: /root/ka/am/output/upload